=============== 
Unity generated
===============
Random\ Game/Temp/
Random\ Game/Library/
Random\ Game/Builds/

=====================================
Visual Studio / MonoDevelop generated
=====================================
Random\ Game/ExportedObj/
Random\ Game/obj/
*.svd
*.userprefs
Random\ Game/*.csproj
*.pidb
*.suo
Random\ Game/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini